<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../../components/paper-spinner/paper-spinner.html">


<polymer-element name="preload-layout" attributes="selected title logined">

  <template > 
       
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet" >
    
    <template  if="{{loading}}">      
        <div class="col-lg-2 vert-offset-top-2 col-md-offset-5">
          <paper-spinner active></paper-spinner>
        </div>
    </template >

    <template if="{{!loading}}">
      <content></content>
    </template>
    
  </template>

  <script>
    Polymer({
      publish: {
        loading: true  
      }
    });
  </script>
</polymer-element>
