<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../../components/core-scaffold/core-scaffold.html">
<link rel="import" href="../../components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../components/core-item/core-item.html">
<link rel="import" href="../../components/pushstate-anchor/src/pushstate-anchor.html">


<link rel="import" href="../../components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../components/paper-button/paper-button.html">
<link rel="import" href="../../components/core-icon/core-icon.html">
<link rel="import" href="../../components/core-icons/av-icons.html">
<link rel="import" href="../../components/core-icons/communication-icons.html">
<link rel="import" href="../../components/core-icons/hardware-icons.html">
<link rel="import" href="../../components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../components/core-menu/core-menu.html">
<link rel="import" href="../../components/core-menu/core-submenu.html">



<polymer-element name="sidebar-layout" attributes="selected title logined">

  <template > 
      <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="/css/style.min.css" rel="stylesheet">
      <link href="/css/form.min.css" rel="stylesheet">
      <link href="/css/style.css" rel="stylesheet">
      <link href="/css/theme.css" rel="stylesheet" >

    <template  if="{{!logined}}">      
      <core-toolbar mode="waterfall">
        <link rel="stylesheet" href="/css/theme.css" >
        <paper-button ><a is="pushstate-anchor" href="/" >/</a></paper-button>
        <span flex >
          <div class="title">{{title}}</div>&nbsp;&nbsp;
        </span>

        <a is="pushstate-anchor" href="/login" >
          <paper-icon-button icon="account-box"></core-icon-button>
          Войти
        </a>
      </core-toolbar>

      <div class="_content">
        <content></content>  
      </div>
      
    </template >

    <template if="{{logined}}">

      <style>
        core-menu{
          margin: 0;
        }
        core-submenu core-item{
          padding: 2px 12px;
          line-height: 40px;
        }

        core-menu .sub{
          font-size: 10px;
        }
      </style>

      <link rel="stylesheet" href="sidebar-layout.css">
      <!-- todo в ff хреново показывает -->
      <link rel="stylesheet" href="/css/theme.css" >
      <core-scaffold>
        <core-header-panel navigation flex mode="seamed">
          <core-toolbar>
            <paper-button ><a is="pushstate-anchor" href="/" >/</a></paper-button>
          </core-toolbar>
          <core-menu>
              
              <core-item icon="communication:vpn-key" label="Ключи" active?="{{selected == 'cabinet_keys'}}"><a is="pushstate-anchor" href="/cabinet/keys"></a></core-item>
              <core-item icon="settings" label="Настройки" active?="{{selected == 'cabinet_settings'}}"><a is="pushstate-anchor" href="/cabinet/settings"></a></core-item>
              <core-item icon="apps" label="Публикации" active?="{{selected == 'cabinet_feeds'}}">
                <a is="pushstate-anchor" href="/cabinet/feed/list"></a>
              </core-item>
              <core-item class="sub" icon="add" label="Новая публикация" active?="{{selected == 'cabinet_feed_add'}}">
                <a is="pushstate-anchor" href="/cabinet/feed/add"></a>
              </core-item>

          
              <core-item icon="hardware:cast" label="Каналы" active?="{{selected == 'cabinet_channels'}}">
                  <a is="pushstate-anchor" href="/cabinet/channels"></a>
              </core-item>
              <core-item class="sub" icon="add" label="Новый канал" active?="{{selected == 'cabinet_channel_add'}}">
                  <a is="pushstate-anchor" href="/cabinet/channel/add"></a>
              </core-item>

              <core-item icon="arrow-back" label="Выход"><a href="/auth/logout"></a></core-item>  

          </core-menu>
          
        </core-header-panel>
        <div tool>
          <div class="title">{{title}}</div>
        </div>
        <div class="_content">
          <content></content>
        </div>
      </core-scaffold>
    </template>
    
  </template>

  <script>
    Polymer({
      logined: false,
      title: ''
    });
  </script>
</polymer-element>
