/** main content */
:host /deep/ core-header-panel[main] {
  background-color: #fff;
}
.content {
  padding: 20px;
}

/** sidebar */
core-header-panel core-item {
  padding: 2px 12px;
  line-height: 40px;
}
core-header-panel  core-item:not(:first-of-type) {
  border-top: 1px solid #f5f5f5;
}
core-header-panel core-item:hover,
core-header-panel core-item:focus {
  background-color: #fcfcfc;
  color: #222;
}
core-header-panel{
	background: #212121;
}
core-header-panel core-item[active] {
  border-right: 6px solid #f5f5f5;
}
