<link rel="import" href="../components/core-ajax/core-xhr.html">
<link rel="import" href="../components/paper-dialog/paper-dialog.html">
<link rel="import" href="../components/paper-dialog/paper-action-dialog.html" >
<link rel="import" href="../components/paper-toast/paper-toast.html">
<link rel="import" href="./notifyService.html">

<script src="apiService.js"></script>
<polymer-element name="api-service">
	<template>

		<!-- <link href="../components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  		<link href="../components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"> -->
		<!-- <style>
	      #errAst{
	        /*top: 10px;
	        right: 10px;
	        max-height: 70px;
	        height: auto;*/
			background: red;
	        /*width: 400px;*/
	      }
	    </style> -->
	    <notify-service id="notify"></notify-service>
		<!-- <core-xhr id="xhr"></core-xhr>	 -->
		<!-- <paper-toast duration="300000" auto-close-disabled="true" id="errAst" role="alert" > -->
		    <!-- <div style="color: #eeff41;" onclick="console.log('RETRY')">Retry</div> -->
	  	<!-- </paper-toast> -->
	</template>
	
	
</polymer-element>

