<link rel="import" href="../components/polymer/polymer.html">
<link rel="import" href="../components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../components/core-image/core-image.html">
<link rel="import" href="../components/paper-shadow/paper-shadow.html">
<link rel="import" href="../components/paper-button/paper-button.html">
<!-- <link rel="import" href="../components/core-icon/core-icon.html"> -->
<link rel="import" href="../components/core-icons/core-icons.html">
<link rel="import" href="../components/core-icons/notification-icons.html">
<link rel="import" href="../components/paper-icon-button/paper-icon-button.html">

<polymer-element name="cabinet-social-button" attributes="type userkey service">
		
  <template>
	
	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet" >

	<paper-shadow z="2">
		<div class="col-md-12 masonry listview-block">
		      <div class="block">
		           <h2>{{label}}</h2>
		           <div class="config" style="top: -3px;">          
		           		<a href="{{service.authUrl}}">
		           			<paper-icon-button icon="notification:sync">&nbsp;</paper-icon-button>
		           		</a>
	               </div>
		           <div class="listview">
		                <div class="media" style="background: gray;">
		                	<div class="col-lg-12">
		                		<a class="pull-left vert-offset-bottom-2" href="{{userkey.profileUrl}}" style="width: 50px;height: 50px;">
			                     	<core-image class="poster-pic" style="width:100%;height: 100%;" src="{{userkey.avatar}}"></core-image>
			                     </a>	
		                	</div>

		                    <div class="col-lg-12">
								<div class="btn-group controls">
									<div right horizontal layout>
										<div flex>
											{{labelCheckBox}}
											<paper-toggle-button id="toggle" style="cursor:pointer;"></paper-toggle-button>
										</div>
								    </div>
								</div>
		                    </div> 
		                    
		                </div>
		           </div>
		      </div>
		</div>
	</paper-shadow>
	

	<!-- <div class="col-lg-12">
		<div class="col-lg-3">
			<div class="thumbnail">
		      <core-image style="width:100%" src="{{userkey.avatar}}"></core-image>
		    </div>
		</div>
		<div class="col-lg-9">
			<h3></h3>
		</div>
		<div class="col-lg-9">
			<div center horizontal layout>
				<div flex>
					<paper-toggle-button id="toggle"></paper-toggle-button>
				</div>
		    </div>		
		</div>
	</div> -->

		
    

  </template>
  <script>

  	(function(){

  		var labels = {
  			vk: 'Вконтакте',
  			facebook: 'Facebook',
  		};

  		Polymer({
	  		type: '',
	  		label: '',
	  		userkey: {},
	  		service: {},
	  		labelCheckBox: '',
	  		
	  		ready: function(){
  				var me = this;


	  			if( Object.keys(this.userkey).length > 0 ){
	  				this.$.toggle.checked=true;
	  				//this.$.toggle.disabled=true;
	  				this.labelCheckBox = '';
	  			}else{
	  				this.$.toggle.checked=false;
	  				this.labelCheckBox = 'Подключить';
	  			}

	  			this.label = labels[this.type];

	  			this.$.toggle.addEventListener('change', function () {
				    if (this.checked) {
				    	window.location.href=me.service.authUrl;
				    }else{
				    	window.location.href=me.service.deleteUrl;
				    }
				}); 

	  			console.log('ready cabinet-social-button');
	  			//this.$.api.ensureAccess();
	  		}
	  	});

  	})();
  	
  </script>
</polymer-element>
