
<!-- <link rel="import" href="header-menu/header-menu.html"> -->
<link rel="import" href="../components/core-menu/core-menu.html">
<link rel="import" href="../components/core-item/core-item.html">
<link rel="import" href="../components/paper-button/paper-button.html">
<link rel="import" href="../components/core-toolbar/core-toolbar.html">
<link rel="import" href="../components/core-icon-button/core-icon-button.html">
<link rel="import" href="../components/app-router/app-router.html">
<link rel="import" href="./layouts/sidebar-layout.html">
<link rel="import" href="./pages/home.html">
<link rel="import" href="./pages/login.html">
<link rel="import" href="./pages/cabinet_keys.html">
<link rel="import" href="./pages/cabinet-settings.html">
<link rel="import" href="./pages/cabinet-channel-add.html">
<link rel="import" href="./pages/cabinet-channels.html">
<link rel="import" href="./pages/cabinet-feed-add.html">
<link rel="import" href="./pages/cabinet-feed-list.html">
<link rel="import" href="./pages/not-found.html">