<link rel="import" href="../components/paper-dialog/paper-dialog.html">
<link rel="import" href="../components/paper-dialog/paper-action-dialog.html" >
<link rel="import" href="../components/paper-toast/paper-toast.html">

<polymer-element name="notify-service">
	<template>

		<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	  	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	  	<link href="/css/style.css" rel="stylesheet">
	  	<link href="/css/theme.css" rel="stylesheet" >
		<style>
	      #errAst{
	        /*top: 10px;
	        right: 10px;
	        max-height: 70px;
	        height: auto;*/
			background: red;
	        /*width: 400px;*/
	      }
	      #notify{
	        /*top: 10px;
	        right: 10px;
	        max-height: 70px;
	        height: auto;*/
			background: green;
	        /*width: 400px;*/
	      }
	      #alert{
	        top: 10px;
	        right: 10px;
	        height: 76px;
	        /*width: 400px;*/
	      }
	    </style>
		<paper-toast duration="300000" auto-close-disabled="true" id="errAst" role="alert" >
			<!-- <div style="color: #eeff41;" onclick="console.log('RETRY')">Retry</div> -->
		</paper-toast>
		<paper-toast duration="300000" auto-close-disabled="true" id="notify" role="alert" ><!-- <div style="color: #eeff41;" onclick="console.log('RETRY')">Retry</div> --></paper-toast>
		<paper-toast duration="300000" auto-close-disabled="true" id="alert" class="col-md-6 col-md-offset-3" role="alert"></paper-toast>

	</template>
	<script>
	(function(){
		var me;

		var buildError = function(err){
			
			if( typeof err == 'object' ){

				err = err.responseJSON || err;
				
				var message = 'какая-то непонятная ошибка';
				if(err.message){
					message = err.message;
				}
				else if(err.statusText){
					message = err.statusText;	
				}
				else if(err.error){
					message = err.error;	
				}
				//var message = (err.message? err.message: (err.error? err.error: 'какая-то непонятная ошибка') ) ;
				var text = [];
				text.push( '<p>'+ message +'</p>');
				if(err.errors){
					for(var i in err.errors){
						text.push( '<p>'+ err.errors[i].message+'</p>');
					}
				}
				return text.join('\n');
				
			}else{
				var text = err || 'какая-то непонятная ошибка';
			}
			return text;
		}

		Polymer('notify-service', {
	  		ready: function() {
		        console.log('notify-service');
		        me = this;
		    },
	  		error: function(err){
	  			me.$.errAst.text = 'Ошибка: ';
				me.$.errAst.innerHTML = buildError(err);// || 'какая-то непонятная ошибка';
				me.$.errAst.show();
	  		}.bind(this),
	  		notify: function(text){
	  			me.$.notify.text = text;
				me.$.notify.show();
	  		}.bind(this),
	  		alert: function(text){
	  			me.$.alert.text = text;
				me.$.alert.show();
	  		}.bind(this)
	  	});	
	})();
  	
  </script>
	
</polymer-element>