body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.template-customize {
    position: fixed;
    bottom: 0;
    right: 35px;
    background: #000;
    background: rgba(0,0,0,0.9);
    width: 154px;
    z-index: 10000;
    border: 2px solid #B6B6B6;
    border-bottom: 0;
    border-radius: 1px;
    box-shadow: 0 0 10px #000;
    height: 0;
}

.template-customize i {
    font-size: 30px;
    position: absolute;
    color: #000;
    top: -46px;
    left: 49px;
    padding: 10px 10px 4px 10px;
    border-radius: 100% 100% 0 0;
    background: #fff;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFFFFF),color-stop(1, #B6B6B6));
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #B6B6B6 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #B6B6B6 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #B6B6B6 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #B6B6B6 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #B6B6B6 100%);
}

.template-customize i:hover {
    cursor: pointer;
    color: #3748d4;
}

.template-customize ul {
    list-style: none;
    float: left;
    margin: 10px 0 10px 20px;
    padding: 0;
}

.template-customize ul li {
    width: 45px;
    height: 30px;
    overflow: hidden;
    margin-bottom: 2px;
}

.template-customize ul li:hover {
    cursor: pointer;
    opacity: 0.8;
}
.c-block { margin-bottom: 0; display: inline-block; width: 100%; }
#content .form-control { margin-bottom: 10px; }