<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../layouts/sidebar-layout.html">
<link rel="import" href="../layouts/preload-layout.html">
<link rel="import" href="../../components/paper-button/paper-button.html">
<link rel="import" href="../../components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../components/paper-ripple/paper-ripple.html">

<link rel="import" href="../../components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../components/paper-item/paper-item.html">
<link rel="import" href="../../components/core-selector/core-selector.html">
<link rel="import" href="../../components/paper-fab/paper-fab.html">

<link rel="import" href="../apiService.html">
<link rel="import" href="../notifyService.html">



<polymer-element name="cabinet-settings" >
		
  <template>
	

	<api-service id="api"></api-service>
	<notify-service id="notify"></notify-service>

	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet" >



    <sidebar-layout selected="cabinet_settings" logined="true">
    	<preload-layout id="preload">
			<div class="col-md-12 vert-offset-top-2">
				<div class="col-md-12">
					<paper-button style="float: none !important;" on-tap="{{submit}}" class="pull-left" raised>
						<core-icon icon="save"></core-icon>Сохранить
					</paper-button>
				</div>
				<div class="col-md-12 vert-offset-top-1" >
					<paper-shadow>
						
						<core-selector multi="false">
							<paper-radio-group selected="{{timeZone}}" valueattr="name" multi="false">
								<template repeat="{{ item in timeZoneList }}">
									<!-- <paper-item> -->
										<paper-radio-button class="col-md-12" name="{{item.value}}" label="{{item.label}}" toggles="true">
											<paper-ripple fit></paper-ripple>
										</paper-radio-button>
				      				<!-- </paper-item>	 -->
								</template>
							</paper-radio-group>
						</core-selector>
					</paper-shadow>
				</div>
			</div>
			
    	</preload-layout>
      
    </sidebar-layout>
    <style type="text/css">
    	paper-button{
			background-color: #4FB44F;
			color: white !important;
			border-color: #43A343;
		}
		paper-radio-button{
			width: 100%;
			color: white;
			cursor: pointer;
			border-bottom: 1px solid rgb(48, 48, 48);
			background-color: #373e3e; 
		}
		paper-radio-button:hover,
		paper-radio-button.core-selected
		{
			background-color: #424B4B;	
		}
	</style>
  </template>
  <script>
  	Polymer({
  		
		timeZoneList: [],
		timeZone: null,

		submit: function(){
			this.$.api.saveSettings({
	    		timeZone: this.timeZone
	    	}, function(data){
	    		this.$.notify.notify(data.message);
	    	}.bind(this));
		},

  		ready: function(){
  			var me = this;
  			this.$.api.ensureAccess(true);
  			console.log('ready cabinet_settings');
  			this.$.api.getPublishSettings(function(data){
          		this.timeZone = data.defaultTimeZone;
  				this.timeZoneList = data.timeZoneList;
  				this.$.preload.loading = false;
  			}.bind(this));
  		}
  	});
  </script>
  
</polymer-element>
