<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../layouts/sidebar-layout.html">
<link rel="import" href="../apiService.html">

<polymer-element name="home-page">
  <template>

    <api-service id="api"></api-service>
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet" >

    <sidebar-layout selected="home" >
      <div class="col-lg-12">
        Home page
      </div>
    </sidebar-layout>
  </template>
  <script>
  	Polymer({
  		ready: function(){
        this.$.api.ensureAccessNotLogin();
  			console.log('home ready');
  		}
  	});
  </script>
</polymer-element>