<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../layouts/sidebar-layout.html">
<link rel="import" href="../../components/paper-shadow/paper-shadow.html">
<link rel="import" href="../../components/paper-input/paper-input.html">
<link rel="import" href="../apiService.html">

<polymer-element name="login-page">
		
  <template>
	<api-service id="api"></api-service>

	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet" >

	<style type="text/css">
		.login-page-content .panel-body{
			background: #424b4b;
		}
		.login-page-content paper-button, .btn-success{
			width: 100%;
		}
		.login-page-content paper-input-decorator input{
			width: 100%;
		}
	</style>

    <sidebar-layout selected="login" title="Авторизация">
      
	
		<div class="col-lg-12 ">
    		<div class="col-lg-4 col-md-offset-4">
    			<div class="panel panel-default vert-offset-top-4 login-page-content">
				  
				  <div class="panel-body ">
					
			            <div class="auth-clients vert-offset-top-2">            

			            	<template repeat="{{ service in services }}">
			            		<paper-button raised class="vert-offset-top-1">
									<a href="{{service.authUrl}}" class="btn btn-block btn-social btn-lg btn-{{service.type}}"><i class="fa fa-{{service.type}}"></i>{{service.title}}</a>
	                        	</paper-button>
			            	</template>

                        	<!-- <paper-button raised class="vert-offset-top-1">
								<a href="/auth/vk" class="btn btn-block btn-social btn-lg btn-vk"><i class="fa fa-vk"></i>Вконтакте</a>
                        	</paper-button>
                        	<paper-button raised class="vert-offset-top-1">
                    			<a href="/auth/facebook" class="btn btn-block btn-social btn-lg btn-facebook"><i class="fa fa-facebook"></i>Facebook</a>
                			</paper-button> -->
	            		</div>

	            		<!-- <div class="auth-clients vert-offset-top-2">            
			            	<form action="javascrit:;" on-submit="{{sunmit}}">
			            		<div class="form-group">
			            			<paper-input-decorator label="E-mail" error="{{errors.email}}" isInvalid="{{inValid.email}}">
								      	<input is="core-input" id="form_email" >
								    </paper-input-decorator>
			            		</div>
			            		<div class="form-group">
			            			<paper-input-decorator label="Пароль" error="{{errors.pswd}}" isInvalid="{{inValid.pswd}}">
								      	<input is="core-input" label="Пароль" type="password" id="form_pswd" >
								    </paper-input-decorator>
			            		</div>
			            		<paper-button on-tap="{{sunmit}}" raised class="btn btn-success" id="submit">Войти</paper-button>
			            	</form>
	            		</div> -->           
	            	   
				  </div>
				</div>
  				
    		</div>
		</div>


    </sidebar-layout>
  </template>
  <script>
  	Polymer({
  		errors: {
  			//pswd: 'Неверный пароль'
  		},
  		inValid: {

  		},
  		services: [],

  		sunmit: function(){
  			var data = {};
  			data.email = this.$.form_email.value;
  			data.password = this.$.form_pswd.value;

  			console.log('submit', data);
  			this.errors.pswd = 'vdvdfbdfb';
  			this.inValid.pswd = true;
  			console.log('submit', this, this.errors, this.inValid )
  		},
  		ready: function(){
  			this.$.api.ensureAccessNotLogin();
  			this.$.api.getAuthServices( function(services){
  				this.services = services;
  			}.bind(this) );
  			console.log('ready login', this, window.$.router);
  		}
  	});
  </script>
</polymer-element>
