<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../../components/core-image/core-image.html">
<link rel="import" href="../../components/core-icon/core-icon.html">
<link rel="import" href="../../components/core-icons/av-icons.html">
<link rel="import" href="../../components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../apiService.html">
<link rel="import" href="../notifyService.html">

<polymer-element name="cabinet-feed-list-posted-item" attributes="data">
		
  <template>
	
	<api-service id="api"></api-service>
	<notify-service id="notify"></notify-service>

	<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet" >
	<link href="/css/bootstrap-3-vert-offset-shim.css" rel="stylesheet">

	
	<div class="col-md-1">
		<template if="{{data.imgUrl}}">
			<core-image sizing="cover" src="{{data.imgUrl}}" class="poster-pic" ></core-image>	
		</template>
	</div>
	<div class="col-md-8" style="text-align: left;">
		{{data.format.message}}
	</div>
	<div class="col-md-4">
		<small style="font-size: 10px;color: #0f9d58;">{{data.format.publishedOn}}</small>
	</div>
	
	
  </template>
  <script>

  	(function(window){

  		Polymer({
	  		data: {},
	  		ready: function(){
  				var me = this;
	  			console.log('ready cabinet-feed-button');

	  			me.data.format = {};
				me.data.format.publishedOn = moment(me.data.publishedOn, 'YYYY-MM-DDTHH:mm:ss').format('DD.MM.YYYY HH:mm');
				me.data.format.message = me.data.message.substring(0,50)+'...';
	  		}
	  	});

  	})(window);
  	
  </script>
</polymer-element>
