<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../../components/core-icon/core-icon.html">
<link rel="import" href="../../components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../components/core-tooltip/core-tooltip.html">

<polymer-element name="delete-button" >
		
  <template>
	
	<core-tooltip label="Удалить" class="fancy">
		<paper-icon-button class="pull-right" icon="clear" style="color: #E93C3C;"></paper-icon-button>
	</core-tooltip>
	
	
  </template>
  <script>

  	(function(){

  		Polymer({
	  		
	  	});

  	})();
  	
  </script>
</polymer-element>
