<footer id="footer"><p style="text-align: center;">&copy; My Company <%-date %></p></footer>
<script src="/jsapp/build.main.js"></script>
<!-- <script src="/jsapp/build.elements.js"></script> -->
</body>
</html>